body h1 {
    text-align: center;
    color: red;
}
body h5 {
    text-align: center;
    color: pink;
}

.unselectable {
    user-select: none;
}

.downloadable button{
    color: white;
    background-color: green;
    margin: 10px;
    padding: 5px;
    position: relative;
}

.downloadable {
    text-align: center;
}